@tailwind base;
@tailwind components;
@tailwind utilities;

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/backgroundSvg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.btn-prev {
  background-color: rgb(148, 164, 255) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.btn-next {
  background-color: rgb(148, 164, 255) !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}